.App {
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.thing-title {
  font-weight: bold;
}

.thing-sub-title {
  color: black;
}

.thing-id {
  color: gray;
  font-weight: bold;
}

.thing-wrapper > div {
  padding: 4px;
  padding-top: 8px;
}

.thing-wrapper {
  border-bottom: 1px solid lightgrey;
}
body {
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}
